<div class="container">
    <div class="row">
        <div class="col s5">
            <div class="card">
                <div class="card-content">
                    <form #employeeForm="ngForm" (ngSubmit)="addEmployee(employeeForm)">
                        <input type="hidden" name ="_id" #_id="ngModel" [(ngModel)] = "employeeService.selectedEmployee._id">
                        <div class="row">
                            <div class= "input-field col s12">
                                <input type="text" name="name" required
                                [(ngModel)]="employeeService.selectedEmployee.name"
                                placeholder="Enter your Name" />
                            </div>
                            <div class= "input-field col s12">
                                <input type="text" name="position" required
                                [(ngModel)]="employeeService.selectedEmployee.position"
                                placeholder="Enter your Position" />
                            </div>
                            <div class= "input-field col s12">
                                <input type="text" name="office" required
                                [(ngModel)]="employeeService.selectedEmployee.office"
                                placeholder="Enter your Office" />
                            </div>
                            <div class= "input-field col s12">
                                <input type="text" name="salary" required
                                [(ngModel)]="employeeService.selectedEmployee.salary"
                                placeholder="Enter your Salary" />
                            </div>
                            <div class="card-action">
                                <div class="input-field col s12">
                                    <button class="btn" (click)="resetForm(employeeForm)">Clean</button>
                                    <button class="btn right">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s7">
            <table>
                <thead>
                    <th>Name</th>
                    <th>Position</th>
                    <th>Office</th>
                    <th>Options</th>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employeeService.employees">
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.position }}</td>
                        <td>{{ employee.office }}</td>
                        <td>
                            <a (click)="editEmployee(employee)">
                                <i class="material-icons">edit</i>
                            </a>
                            <a (click)="deleteEmployee(employee._id)">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>